* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  background-color: #F1F1F1;
}

@-webkit-keyframes line {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(15px);
  }
}

@keyframes line {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(15px);
  }
}
.wrap {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.wrap .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.wrap .container .header {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.wrap .container .header .logo {
  width: 480px;
}
.wrap .container .header .logo img {
  width: 100%;
  vertical-align: bottom;
}
@media screen and (max-width: 430px) {
  .wrap .container .header .logo {
    width: 350px;
  }
}
.wrap .container .header .text {
  width: 480px;
  padding-bottom: 1rem;
  display: flex;
  align-items: flex-end;
  color: #F1A509;
}
@media screen and (max-width: 769px) {
  .wrap .container .header .text {
    display: none;
  }
}
.wrap .container .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: -0.3rem;
  width: 100%;
  height: 150px;
  background-color: #F1A509;
}
.wrap .container .title .introduce {
  text-align: right;
  width: 50%;
  font-size: 1.5rem;
}
.wrap .container .title .introduce .small {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.8rem;
  margin-right: -0.8em;
}
@media screen and (max-width: 431px) {
  .wrap .container .title .introduce {
    display: none;
  }
}
.wrap .container .title .selectBar {
  width: 50%;
}
@media screen and (max-width: 431px) {
  .wrap .container .title .selectBar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
.wrap .container .title .selectBar select {
  font-size: 1.2em;
  width: 300px;
  padding: 0.8rem 0;
  padding-left: 0.5rem;
  letter-spacing: 0.3rem;
  border: none;
  background-color: #FBE4B6;
}
.wrap .container .title .selectBar select:hover {
  cursor: pointer;
  opacity: 0.7;
}
.wrap .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.wrap .container .content .cityname {
  padding: 40px 0;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: #F1A509;
}
.wrap .container .content .cityname > h2 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 16px;
  text-align: center;
  width: 200px;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
}
.wrap .container .content .cards {
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
@media screen and (max-width: 769px) {
  .wrap .container .content .cards {
    max-width: 768px;
  }
}
@media screen and (max-width: 431px) {
  .wrap .container .content .cards {
    max-width: 431px;
  }
}
.wrap .container .content .cards .item {
  width: 400px;
  margin-bottom: 40px;
  overflow: hidden;
}
@media screen and (max-width: 769px) {
  .wrap .container .content .cards .item {
    width: 330px;
  }
}
.wrap .container .content .cards .item:hover {
  transform: scale(1.1);
  transition: 1s;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.264) 3px 5px 20px;
  cursor: pointer;
}
.wrap .container .content .cards .item .img {
  position: relative;
}
.wrap .container .content .cards .item .img:hover {
  transform: scale(1.1);
  transition: 1s;
}
.wrap .container .content .cards .item .img:hover::before {
  opacity: 0;
}
.wrap .container .content .cards .item .img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.wrap .container .content .cards .item .img > img {
  width: 100%;
  height: 250px;
  vertical-align: bottom;
}
.wrap .container .content .cards .item .message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 230px;
  background-color: #fff;
  padding: 1rem 1.5rem;
  line-height: 32px;
  font-size: 1.25rem;
}
.wrap .footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #FBE4B6;
}
.wrap .footer p {
  display: block;
  font-size: 1.25rem;
  padding: 2.5rem;
  text-align: center;
  letter-spacing: 4px;
  font-weight: 900;
}
@media screen and (max-width: 431px) {
  .wrap .footer p {
    font-size: 1rem;
  }
}
.wrap .uparrow {
  position: fixed;
  right: 0%;
  bottom: 40px;
  -webkit-animation-name: line;
          animation-name: line;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.wrap .uparrow img {
  width: 80px;
  height: 80px;
}
.wrap .uparrow img:hover {
  opacity: 0.5;
  cursor: pointer;
}/*# sourceMappingURL=all.css.map */