*{
    margin: 0;
    box-sizing: border-box;
}

$gray: #F1F1F1;
$orange: #F1A509;
$light-orange: #FBE4B6;
$black: #000;
$white: #fff;

html,body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;    
    background-color: $gray;

}

@keyframes line{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(15px);
    }
}

.wrap{
    width: 100%;
    margin: 0 auto;
    position: relative;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        .header{
            display: flex;
            justify-content: center;
            gap: 40px;
            .logo{
                width: 480px;
                img{
                    width: 100%;
                    vertical-align: bottom;
                }
                @media screen and (max-width: 1025px) {
                    width: 400px;
                }
                @media screen and (max-width: 431px) {
                    width: 350px;
                }
            }
            .text{
                width: 480px;
                // padding-left: 1rem;
                padding-bottom: 1rem;
                display: flex;
                align-items: flex-end;
                color: $orange;
                @media screen and (max-width: 769px) {
                    display: none;
                }
            }
        }
        .title{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            margin-top: -0.3rem;
            width: 100%;
            height: 150px;
            background-color: $orange;
            .introduce{
                text-align: right;
                width: 50%;
                font-size: 1.5rem;
                .small{
                    color: $white;
                    font-size: 1rem;
                    letter-spacing: .8rem;
                    margin-right: -0.8em;
                }
                @media screen and (max-width: 431px) {
                    display: none;
                }
            }
            .selectBar{
                width: 50%;
                @media screen and (max-width: 431px) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                }
                select{
                    font-size: 1.2em;
                    width: 300px;
                    padding: .8rem 0;
                    padding-left: .5rem;
                    letter-spacing: .3rem;
                    border: none;
                    background-color: $light-orange;
                    &:hover{
                        cursor: pointer;
                        opacity: 0.7;
                    }
                }
            }
        }
        .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            .cityname{
                padding: 40px 0;
                font-size: 3rem;
                letter-spacing: .5rem;
                color: $orange;
                & > h2{
                    font-size: 3rem;
                    font-weight: 600;
                    letter-spacing: 16px;
                    text-align: center;
                    width: 200px;
                    padding-bottom: 1rem;
                    border-bottom: 1px solid $black;
                }
            }
            .cards{
                width: 100%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 40px;
                @media screen and (max-width: 769px) {
                    max-width: 768px;
                }
                @media screen and (max-width: 431px) {
                    max-width: 431px;
                }
                .item{
                    width: 400px;
                    margin-bottom: 40px;
                    overflow: hidden;
                    @media screen and (max-width: 769px) {
                        width: 330px;
                    }
                    &:hover{
                        transform: scale(1.1);
                        transition: 1s;
                        border: none;
                        box-shadow: rgba(0, 0, 0, 0.264) 3px 5px 20px;
                        cursor: pointer;
                    }
                    .img{
                        position: relative;
                        &:hover{
                            transform: scale(1.1);
                            transition: 1s;
                            &::before{
                                opacity: 0;
                            }
                        }
                        &::before{
                            content: '';
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: rgba(0, 0, 0, .5);
                        }
                        & > img{
                            width: 100%;
                            height: 250px;
                            vertical-align: bottom;

                        }
                    }
                    .message{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        min-height: 230px;
                        background-color: $white;
                        padding: 1rem 1.5rem;
                        line-height: 32px;
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }

    .footer{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: $light-orange;
        p{
            display: block;
            font-size: 1.25rem;
            padding: 2.5rem;
            text-align: center;
            letter-spacing: 4px;
            font-weight: 900;
            @media screen and (max-width: 431px) {
                font-size: 1rem;
            }
        }
    }
    .uparrow{
        position: fixed;
        right: 0%;
        bottom: 40px;
        img{
            width: 80px;
            height: 80px;
            &:hover {
                opacity: 0.5;
                cursor: pointer;
            }
        }
        animation-name: line;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count:infinite;
        animation-direction: alternate-reverse;
    }
}

